html{
  scroll-behavior: smooth;
}

/* navbar */
.navbar{
  padding-top: 1%;
  padding-bottom: 1%;

}

.navbar-nav{
  font-size: 20px;
}

.navbar-brand{
  font-size: 30px;
  position: relative;
  left: 20px;
}

/* .ml-auto{
  position: relative;
  left: 59%;
} */

/* image wallpaper */
.textblock{
  position: absolute;
  bottom: 50%;
  left: 35%;
  background-color: #ffffff00;  /* transparent color code */
  color: #fff;
  padding: 1% 4%;
  border-radius: 100px;
  font-family: 'Stylish', sans-serif;
}

@media (max-width: 900px) {
  .textblock{
    position: absolute;
    left: 25%;
  }
}

/* .text-block h2{
  font-family: 'Stylish', sans-serif;
} */

.textblock .span_font{
  font-family: 'Montserrat', sans-serif;
  color: #000;
  font-size: 40px;
  text-align: center;

}

/* about */
#about{
  text-align: center;
  padding: 4% 12%;
}

#about .give_space{
  padding: 4% 6%;
}

@media (max-width: 900px){
  #about .give_space{
    padding: 2% 15%;
  }
}

#about p{
  font-size: 20px;
}



/* services */
#service{
  text-align: center;
  padding: 4% 12%;
  line-height: 2em;
  background-color: #D3D3D3;
}

#service p{
  font-size: 20px;
}

/*  */
#carouselExampleControls{
  padding: 2% 14%;
}
#carouselExampleControls img{
  width:100px;
  height:500px;
  object-fit:cover;
  border-radius:5%;
}


/* contact */
#contact{

  padding: 2% 12%;
  line-height: 2em;
}

#contact .card-img-top{
  width: 50%;
  height: 100%;
}

@media (max-width: 900px){
  #contact .card-img-top{
    width: 50%;
    height: 90%;
    position: relative;
    left: 80px;
  }
}

#contact .contact{
  text-align: center;
  padding: 4% 12%;
  line-height: 2em;
}

#contact .container{
  margin: 0%;
  padding: 5% 13%;
  background-color: #D3D3D3;
  font-size: 20px;
}

/* footer */
#footer{
  height: 140px;
  background-color: #000;
}

#footer p{
  padding-top: 2%;
  font-size: 20px;
  color: #D3D3D3;
  text-align: center;
}

#footer a{
  text-decoration: none;
  color: #fff;
}

#footer i {
  padding: 0% 3%;
}
